:root {
  --y-gray-000: #ffffff;
  --y-gray-100: #f9fafb;
  --y-gray-200: #f3f4f6;
  --y-gray-300: #e5e7eb;
  --y-gray-400: #d1d5db;
  --y-gray-500: #9ca3af;
  --y-gray-600: #6b7280;
  --y-gray-700: #4b5563;
  --y-gray-800: #374151;
  --y-gray-900: #1f2937;
  --y-gray-950: #111827;
  --y-gray-999: #000000;

  --y-primary-normal: #e40046;
  --y-primary-darker: #ad0035;
  --y-primary-opacity-10: rgba(228, 0, 70, 0.1);
  --y-primary-opacity-20: rgba(228, 0, 70, 0.2);

  --y-dark-theme: #030614;
  --y-light-theme: #ffffff;

  --y-footer-bg: #010205;
}
